In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pystan
import scipy.stats as sts
sns.set()

In [51]:
data = pd.read_csv('/Users/anirudhn/Desktop/Code/CS146_Assignments/LBA/Data.csv', na_values='n/a')
data.head(n=5)

             Timestamp  ... Product 3 price.9
0  10/20/2020 23:22:49  ...              2.90
1  10/20/2020 23:32:18  ...              9.12
2  10/23/2020 18:39:04  ...               NaN
3  10/23/2020 18:40:00  ...               NaN
4  10/28/2020 13:10:22  ...              3.26

[5 rows x 68 columns]

In [52]:
data.drop(['Timestamp','Email Address','Your name','Grocery store name and street address (or URL if shopping online)','Average rental price near the grocery store'], axis = 1, inplace = True)
data.head()

  Country where you (and the grocery store) are  ... Product 3 price.9
0                                       Germany  ...              2.90
1                                       Germany  ...              9.12
2                                       Germany  ...               NaN
3                                       Germany  ...               NaN
4                                       Germany  ...              3.26

[5 rows x 63 columns]

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 63 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Country where you (and the grocery store) are  64 non-null     object
 1   Currency (e.g. EUR, GBP, USD)                  64 non-null     object
 2   Price perception of the store brand            64 non-null     object
 3   Product 1 quantity (kg)                        64 non-null     float64
 4   Product 1 price                                64 non-null     float64
 5   Product 2 quantity (kg)                        61 non-null     float64
 6   Product 2 price                                61 non-null     float64
 7   Product 3 quantity (kg)                        54 non-null     float64
 8   Product 3 price                                54 non-null     float64
 9   Product 1 quantity (kg).1                      64 non-null     float64
 10  Product 1 price.1                              64 non-null     float64
 11  Product 2 quantity (kg).1                      60 non-null     float64
 12  Product 2 price.1                              60 non-null     float64
 13  Product 3 quantity (kg).1                      35 non-null     float64
 14  Product 3 price.1                              35 non-null     float64
 15  Product 1 quantity (kg).2                      64 non-null     float64
 16  Product 1 price.2                              64 non-null     float64
 17  Product 2 quantity (kg).2                      62 non-null     float64
 18  Product 2 price.2                              62 non-null     float64
 19  Product 3 quantity (kg).2                      55 non-null     float64
 20  Product 3 price.2                              55 non-null     float64
 21  Product 1 quantity (kg).3                      64 non-null     float64
 22  Product 1 price.3                              64 non-null     float64
 23  Product 2 quantity (kg).3                      60 non-null     float64
 24  Product 2 price.3                              60 non-null     float64
 25  Product 3 quantity (kg).3                      58 non-null     float64
 26  Product 3 price.3                              58 non-null     float64
 27  Product 1 quantity (kg).4                      63 non-null     float64
 28  Product 1 price.4                              63 non-null     float64
 29  Product 2 quantity (kg).4                      53 non-null     float64
 30  Product 2 price.4                              53 non-null     float64
 31  Product 3 quantity (kg).4                      46 non-null     float64
 32  Product 3 price.4                              46 non-null     float64
 33  Product 1 quantity (kg).5                      63 non-null     float64
 34  Product 1 price.5                              63 non-null     float64
 35  Product 2 quantity (kg).5                      55 non-null     float64
 36  Product 2 price.5                              55 non-null     float64
 37  Product 3 quantity (kg).5                      49 non-null     float64
 38  Product 3 price.5                              49 non-null     float64
 39  Product 1 quantity (liters)                    64 non-null     float64
 40  Product 1 price.6                              64 non-null     float64
 41  Product 2 quantity (liters)                    61 non-null     float64
 42  Product 2 price.6                              61 non-null     float64
 43  Product 3 quantity (liters)                    54 non-null     float64
 44  Product 3 price.6                              54 non-null     float64
 45  Product 1 quantity (kg).6                      64 non-null     float64
 46  Product 1 price.7                              64 non-null     float64
 47  Product 2 quantity (kg).6                      64 non-null     float64
 48  Product 2 price.7                              64 non-null     float64
 49  Product 3 quantity (kg).6                      63 non-null     float64
 50  Product 3 price.7                              63 non-null     float64
 51  Product 1 quantity (count)                     64 non-null     float64
 52  Product 1 price.8                              64 non-null     float64
 53  Product 2 quantity (count)                     64 non-null     float64
 54  Product 2 price.8                              64 non-null     float64
 55  Product 3 quantity (count)                     64 non-null     float64
 56  Product 3 price.8                              64 non-null     float64
 57  Product 1 quantity (kg).7                      64 non-null     float64
 58  Product 1 price.9                              64 non-null     float64
 59  Product 2 quantity (kg).7                      60 non-null     float64
 60  Product 2 price.9                              60 non-null     float64
 61  Product 3 quantity (kg).7                      45 non-null     float64
 62  Product 3 price.9                              45 non-null     float64
dtypes: float64(60), object(3)
memory usage: 31.6+ KB

In [55]:
data.instert

AttributeError: 'DataFrame' object has no attribute 'instert'